/* Article 1, pakt daarin alle sections, img en p's */
article:nth-of-type(1) {
  margin: 1em;
}

article:nth-of-type(1) section {
  display: grid;
  grid-template-columns: 2em 1fr;
  align-items: center;
  margin: 1em 0 1em 0;
}

article:nth-of-type(1) img {
  height: 1em;
}

article:nth-of-type(1) p {
  font-size: 1em;
}

/* Article 2, section 2 - directe child */
article:nth-of-type(2) > section:nth-of-type(2) {
  display: grid;
  margin: 0 1em 0 1em;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* Article 2, section 2 - directe child > daar de directe section van*/
article:nth-of-type(2) > section:nth-of-type(2) > section {
  display: flex;
  height: 3.5em;
  border-radius: 0.75em;
  background-color: #f0f0f1;
  align-items: center;
  justify-content: space-between;
}

article:nth-of-type(2) h4 {
  margin-left: 0.5em;
}

article:nth-of-type(2) img {
  display: flex;
  margin-right: 0.5em;
  height: 1.7em;
}

article:nth-of-type(3) section:nth-of-type(2) {
  margin: 1em;
  background-color: #f0f0f1;
  border-radius: 0.75em;
}

article:nth-of-type(3) section:nth-of-type(2) img:nth-of-type(1) {
  height: 5em;
}

/* Article 4 */
article:nth-of-type(4) section:nth-of-type(2) {
  margin: 1em;
  background-color: #f0f0f1;
  border-radius: 0.75em;
}

article:nth-of-type(4) section:nth-of-type(2) img:nth-of-type(1) {
  height: 5em;
}




/* Article 5 */
article:nth-of-type(5) section:nth-of-type(1) > section:nth-of-type(1){
  display: flex;
  align-items: center;
}

article:nth-of-type(5) section:nth-of-type(1) > section:nth-of-type(2) {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0 1em 0 1em;
  background-color: #f0f0f1;
  border-radius: 0.75em;
}

article:nth-of-type(5) section:nth-of-type(2) img:nth-of-type(1) {
  height: 3em;
  width: 3em;
  border-radius: 0.75em;
}

article:nth-of-type(5) section:nth-of-type(2) > section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

/* article:nth-of-type(5) h5 {
}

article:nth-of-type(5) p:nth-of-type(1) {
}

article:nth-of-type(5) p:nth-of-type(2) {
}

article:nth-of-type(5) img:nth-of-type(2) {
} */
