@import url("https://use.typekit.net/tre1kwo.css");

* {
  margin: 0;
  padding: 0;
  font-family: "proxima-nova";
}

:root{
  --backgroundColor: white;
  --h1Color: white;
  --linkKleur: black;
  --datumKleur: red;
  --accentKleurBlauw: #00b6f0;
  --accentKleurBlauwButtonAchtergrond: #e2f4fc;
  --cardAchtergrondkleur: #f0f0f1;
  --headerAchtergrondKleur: #009fd8;
  --buttonHHWKleur: #28a745;
  --buttonHHWKleurHover: #48af68;
}

h1 {
  color: var(--h1Color);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25em;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

h3 {
  font-weight: 600;
  font-size: 1.1em;
}

h5 {
  font-weight: 600;
  font-size: 1em;
}

p {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--linkKleur);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.2em 1em 1em 1em;
  align-items: center;
}

nav > a,
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.7em;
}

nav > a > img {
  height: 1.6em;
  align-items: center;
}

nav > ul > li > a > img {
  height: 1.2em;
  width: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav:nth-of-type(1) li:nth-of-type(2) img {
  height: 1.5em;
  width: 1.75em;
}

hr {
  border: 0.05em solid rgb(219, 219, 219);
}

input {
  width: 100%;
}

time {
  font-weight: 600;
  color: var(--datumKleur);
}
