@import url("https://use.typekit.net/tre1kwo.css");

header {
  background-color: var(--headerAchtergrondKleur);
  padding-bottom: 5em;
}

header a {
  color: white;
}

header > section:nth-of-type(1) a {
  background-color: var(--buttonHHWKleur);
  padding: 1em 2em 1em 2em;
  border-radius: 0.75em;
  font-size: 1.2em;
}

header > section:nth-of-type(1) a:hover {
  background-color: var(--buttonHHWKleurHover);
}

header section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3em;
  padding: 3em 2em 0 2em;
}

header section:nth-of-type(1) p {
  color: white;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1em;
}

@media (width > 50em) {
  header section:nth-of-type(1) h1 {
    font-size: 1.9em;
  }

  header section:nth-of-type(1) p {
    font-size: 1.2em;
  }
}

/* Article 1 Waarom Ticketswap */
article {
  padding: 0 1em 0 1em;
}

article a {
  color: var(--accentKleurBlauw);
}

article:nth-of-type(1) {
  background-color: var(--cardAchtergrondkleur);
}

article h2 {
  padding-top: 1.5em;
  justify-self: center;
}

article:nth-of-type(1) section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7em 3em 1fr;
  padding: 2em 0 2em 0;
}

article section img {
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
}

article section h3 {
  grid-row-start: 2;
  font-size: 1.5em;
  font-weight: 400;
}

article section p {
  grid-row-start: 3;
  font-weight: 400;
}

@media (width > 50em) {
  article:nth-of-type(1) section {
    display: grid;
    grid-template-columns: 10em 1fr;
    grid-template-rows: 1fr;
    /* Waarom wel met 1fr en niet met 1fr 1fr? */

    padding: 2em 0 2em 0;
  }

  article:nth-of-type(1) section img {
    grid-row: span 3;
    justify-self: center;
    align-self: center;
  }

  article:nth-of-type(1) h2 {
    font-size: 1.8em;
  }

  article:nth-of-type(1) section h3 {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  article:nth-of-type(1) section p {
    grid-column-start: 2;
    font-size: 1.1em;
    font-weight: 400;
  }
}

/* Article 2, Tickets kopen */
article:nth-of-type(2) h2 {
  padding-top: 1.5em;
}

article:nth-of-type(2) section {
  padding: 1em 0 2em 0;
}

article:nth-of-type(2) > a {
  display: flex;
  justify-self: center;
  padding: 1em 2em;
  background-color: var(--accentKleurBlauwButtonAchtergrond);
  border-radius: 0.75em;
}

@media (width > 50em) {
  article:nth-of-type(2) > h2 {
    grid-column: span 2;
    grid-row-start: 1;
  }

  article:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5em 1fr 1fr 5em;
    gap: 2rem;
  }

  article:nth-of-type(2) h2 {
    font-size: 1.8em;
  }

  article:nth-of-type(2) p {
    font-size: 1.1em;
  }

  article:nth-of-type(2) > a {
    align-self: center;
    justify-self: center;
    grid-row-start: 4;
    grid-column: span 2;
  }
}

/* article:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: var(--cardAchtergrondkleur);
}

article:nth-of-type(3) section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em 1fr 1fr 1fr;
  align-items: center;
}

article:nth-of-type(3) section {
  grid-row: 2 / 5;
  background-color: white;

  border-radius: 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2em;
}

article:nth-of-type(3) section h3 {
  grid-row-start: 3;
}
article:nth-of-type(3) section p {
  grid-row-start: 4;
}

article:nth-of-type(3) section img:nth-of-type(1) {
  grid-row-start: 2;
}

article:nth-of-type(3) section img:nth-of-type(2) {
  height: 4em;
  width: 4em;
} */

article:nth-of-type(3) {
  background-color: var(--cardAchtergrondkleur);
}

ol {
  margin: 0;
  padding-top: 1em;
  list-style-type: none;
  display: grid;
  gap: 3em;

  background-color: var(--cardAchtergrondkleur);
  counter-reset: my-awesome-counter;
}

ol  li {
  counter-increment: my-awesome-counter;
  display: grid;
  margin-top: 4em;
  position: relative;
}

ol li section{
    display: grid;
    grid-template-rows: 10em 5em 1fr;
    align-items: center;
    background-color: var(--cardAchtergrondkleur);
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: .75em;
    padding: 2em;
}

ol li::before {
  content: counter(my-awesome-counter);
  font-weight: bold;
  position: absolute;
  top: -5em;
  left: calc(50% - 1.5em);
  width: 4em;
  aspect-ratio: 1/1;
  border: solid 0.2em currentcolor;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: var(--accentKleurBlauw);
}
