article {
  padding: 0 1rem;
  justify-content: center;
}

header {
  background-color: var(--headerAchtergrondKleur);
}

header button {
  appearance: none;
  border: none;
  background: none;
}

header svg {
  height: 2em;
  color: var(--logoKleurHHW);
}

main > section:nth-of-type(1) {
  background-color: var(--headerAchtergrondKleur);
  text-align: center;
}

main > section:nth-of-type(1) > a,
main > article:nth-of-type(3) a {
  color: black;
  background-color: var(--buttonHHWKleur);
  padding: 1rem 2rem;
  border-radius: 0.75em;
  font-size: 1.2em;
}

main > section:nth-of-type(1) a:hover,
article:nth-of-type(3) a:hover {
  text-decoration: underline;
  transition: 0.25s;
}

main > section:nth-of-type(1) a:active,
article:nth-of-type(3) a:active {
  background-color: var(--buttonHHWKleurActive);
  transition: 1s;
}

main > section:nth-of-type(1) a:focus,
article:nth-of-type(3) a:focus {
  outline: 0.15em solid white;
  transition: 0.2s;
}

main > section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3em;
  padding: 3rem 2rem;

  p {
    color: white;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1em;
  }
}

@media (width > 50em) {
  main > section:nth-of-type(1) p {
    font-size: 1.2em;
  }
}

/* Article 1 Waarom Ticketswap */
article:nth-of-type(1) {
  padding: 0 1rem;
}

article:nth-of-type(1) a {
  color: var(--accentKleurBlauw);
}

article:nth-of-type(1) {
  background-color: var(--sectieAchtergrondKleurHHW);
}

article:nth-of-type(1) h2 {
  padding-top: 1.5rem;
  justify-self: center;
}

article:nth-of-type(1) section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7em 3em 1fr;
  padding: 2rem 0;
  align-items: center;
}

article section > img {
  grid-row-start: 1;
  justify-self: center;
  align-self: center;
}

article section h3 {
  grid-row-start: 2;
  font-size: 1.6em;
  font-weight: 400;
  padding-bottom: 1em;
}

article section p {
  grid-row-start: 3;
  font-weight: 400;
}

@media (width > 50em) {
  article:nth-of-type(1) section {
    display: grid;
    grid-template-columns: 10em 1fr;
    grid-template-rows: 1fr;
    /* Waarom wel met 1fr en niet met 1fr 1fr? */

    padding: 2rem 0;
  }

  article:nth-of-type(1) section img {
    grid-row: span 3;
    justify-self: center;
    align-self: center;
  }

  article:nth-of-type(1) section h3 {
    grid-row-start: 1;
    grid-column-start: 2;
  }

  article:nth-of-type(1) section p {
    grid-column-start: 2;
    font-size: 1.2em;
    font-weight: 400;
  }
}

/* Article 2, Tickets kopen */
article:nth-of-type(2) {
  padding: 2rem 1rem;
}

article:nth-of-type(2) section {
  padding: 1rem 0 2rem 0;
}

article:nth-of-type(2) > a {
  display: flex;
  justify-self: center;
  padding: 1rem 2rem;
  color: var(--accentKleurBlauw);
  font-weight: 700;
  background-color: var(--accentKleurBlauwButtonAchtergrond);
  border-radius: 0.75em;
}

@media (width > 50em) {
  article:nth-of-type(2) > h2 {
    grid-column: span 2;
    grid-row-start: 1;
  }

  article:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5em 1fr 1fr 5em;
    gap: 2rem;
  }

  article:nth-of-type(2) h2 {
    text-align: center;
  }

  article:nth-of-type(2) p,
  article:nth-of-type(3) p {
    font-size: 1.2em;
  }

  article:nth-of-type(2) > a {
    align-self: center;
    justify-self: center;
    grid-row-start: 4;
    grid-column: span 2;
  }
}

/* article:nth-of-type(3) {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: var(--cardAchtergrondkleur);
}

article:nth-of-type(3) section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em 1fr 1fr 1fr;
  align-items: center;
}

article:nth-of-type(3) section {
  grid-row: 2 / 5;
  background-color: white;

  border-radius: 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2em;
}

article:nth-of-type(3) section h3 {
  grid-row-start: 3;
}
article:nth-of-type(3) section p {
  grid-row-start: 4;
}

article:nth-of-type(3) section img:nth-of-type(1) {
  grid-row-start: 2;
}

article:nth-of-type(3) section img:nth-of-type(2) {
  height: 4em;
  width: 4em;
} */

article:nth-of-type(3) {
  background-color: var(--sectieAchtergrondKleurHHW);
  padding: 2rem 1rem;
  border-bottom: 0.1em solid grey;
}

article:nth-of-type(3) > p {
  padding-bottom: 8rem;
  text-align: center;
  font-weight: 400;
}

ol {
  margin: 0;
  padding-top: 1rem;
  list-style-type: none;
  display: grid;
  gap: 4em;
  height: max-content;
  background-color: var(--cardAchtergrondkleur);
  counter-reset: my-awesome-counter;
}

ol li {
  counter-increment: my-awesome-counter;
  display: grid;
  position: relative;
}

ol li h3 {
  padding: 1rem 0;
}

ol li section {
  display: grid;
  grid-template-rows: 10em max-content max-content;
  align-items: center;
  background-color: var(--cardAchtergrondkleurHHW);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.75em;
  padding: 2rem;
  margin-bottom: 5em;
}

ol li::before {
  content: counter(my-awesome-counter);
  font-weight: bold;
  position: absolute;
  top: -5em;
  left: calc(50% - 1.5em);
  width: 4em;
  aspect-ratio: 1/1;
  border: solid 0.2em currentcolor;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: var(--accentKleurBlauw);
}

article:nth-of-type(3) ol a {
  display: flex;
  justify-self: center;
}

@media (width > 50em) {
  ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
  }

  /* article:nth-of-type(3) > p {
    text-align: center;
    padding: 0 5em 8em 5em;
  } */

  article:nth-of-type(3) > h2 {
    text-align: center;
    height: 3em;
  }

  article:nth-of-type(3) ol a {
    grid-column-start: span 2;
  }
  ol li h3 {
    font-size: 1.6em;
  }

  ol li p {
    font-size: 1.1em;
  }
}

article:nth-of-type(4) {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5em 4em 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
}

article:nth-of-type(4) p {
  grid-row-start: 3;
  font-weight: 400;
  text-align: center;
}

article:nth-of-type(4) img {
  grid-row-start: 1;
  justify-self: center;
  height: 4.5em;
}

article:nth-of-type(4) h2 {
  grid-row-start: 2;
  justify-self: center;
}

article:nth-of-type(4) button {
  appearance: none;
  color: white;
  font-size: 1.1em;
  font-weight: 600;
  border: none;
  border-radius: 0.75em;
  padding: 1rem 2rem;
  background-color: var(--buttonHHWKleurBlauw);
}
