@import url("https://use.typekit.net/tre1kwo.css");

* {
  margin: 0;
  padding: 0;
  --background-color: white;
  --h1-color: white;
  --link-kleur: black;
  font-family: "proxima-nova";
}

h1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  padding: 0 1.2m 0 1.2em;

  font-size: 1.75em;
  font-family: "proxima-nova";
  font-weight: 700;
  line-height: 1.25em;
  color: var(--h1-color);
  text-shadow: 0px 1px 4px rgb(0 0 0 / 30%), 0px 2px 13px rgb(0 0 0 / 30%),
    0px 3px 23px rgb(0 0 0 / 30%);
  background-image: url("/images/banner.png");
  background-position: center;
  background-size: cover;
  height: 10.5em;
}

h2 {
  display: flex;
  margin: 1em;
  font-size: 1.5em;
  font-weight: 600;
}

h4{
  font-weight: 600;
  font-size: 1.1em;
}

p {
  font-weight: 600;
}

a{
  text-decoration: none;
  color: var(--link-kleur);
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1.2em 1em 1em 1em;
  align-items: center;
}

nav > a,
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.7em;
}

nav > a > img {
  height: 1.6em;
  align-items: center;
}

nav > ul > li > a > img {
  height: 1.2em;
  width: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav:nth-of-type(1) li:nth-of-type(2) img {
  height: 01em;
  width: 1.23em;
}

hr{
  border: .05em solid rgb(219, 219, 219);
}
